<%- include('../port/layout-start', {title: title}) %> <%- include('../port/menu') %>

<div class="container">
  <h1><%= title %></h1>

  <div class="row">
    <div class="col-sm-6">
      <!-- Tabs navs -->
      <div id="exTab1" class="container">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="#auth" data-toggle="tab">Авторизоваться</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#register" data-toggle="tab">Регистрация</a></li>
        </ul>
        <!-- Tabs navs -->
        <!-- Tabs content -->

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="auth">
            <div class="col s6 offset-s3">
              <h1>Войти</h1>
              <form action="/api/user/login" method="post" novalidate>
                <div class="input-field">
                  <input placeholder="Placeholder" id="email" name="email" type="email" class="validate" required />
                  <label for="title">Email</label>
                </div>
                <div class="input-field">
                  <input
                    placeholder="Placeholder"
                    id="password"
                    name="password"
                    type="password"
                    class="validate"
                    required
                    min="1"
                  />
                  <label for="price">Password</label>
                </div>

                <button type="submit" class="btn btn-primary">Войти</button>
              </form>
            </div>
          </div>
          <div class="tab-pane" id="register">
            <div class="col s6 offset-s3">
              <h1>Регистраци</h1>
              <form action="/api/user/signup" method="post" novalidate>
                <div class="input-field">
                  <input placeholder="Placeholder" id="remail" name="remail" type="email" class="validate" required />
                  <label for="title">Email</label>
                  <span class="helper-text" data-error="Введите email" data-success="right"></span>
                </div>

                <div class="input-field">
                  <input placeholder="Placeholder" id="rname" name="rname" type="text" class="validate" required />
                  <label for="title">Name</label>
                </div>

                <div class="input-field">
                  <input
                    placeholder="Placeholder"
                    id="rpassword"
                    name="rpassword"
                    type="password"
                    class="validate"
                    required
                    min="1"
                  />
                  <label for="price">Password</label>
                </div>

                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabs content -->
    </div>
  </div>
</div>

<%- include('../port/layout-end') %>
